<!-- Criminal Location Page -->
<!--  cache-view="false" is for refreshing views-->
<ion-view cache-view="false">
    <!-- header -->
    <ion-header-bar align-title="center" class="bar-assertive">
        <div class="buttons">
            <button  ng-click="undo()" class="button icon ion-ios-undo"></button>
        </div>      
        <h3 class="title">Criminal Location</h3>
        <div class="buttons">
            <button class="button icon ion-gear-a"></button>
        </div>
        <!-- -->
    </ion-header-bar>
    <ion-content>
        <!--Google Map goes here -->
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
