<!-- Introduction Page -->

<ion-view >
   <ion-content scroll="false">

      <!-- slidebox -->
      <ion-slide-box>
          <ion-slide>
             <div class="first-screen">
                   <img  ng-src="img/first_screen.jpg" ></div>
                     </ion-slide>
          <ion-slide>
             <div class="second-screen">
                   <img  ng-src="img/second_screen.jpg" > </div>       
                     </ion-slide>
          <ion-slide>
             <div class="third-screen">
                   <img  ng-src="img/third_screen.jpg" > </div>  
                   
                     </ion-slide>
            <ion-slide>
             <div class="start-screen">
                   <img  ng-src="img/start-screen.jpg" > </div>
                   <button ui-sref="main" class="button button-calm startButton animated infinite jello "> Enter App </button> 
                     </ion-slide>
        </ion-slide-box> 
        </ion-content>
</ion-view>