<!-- Main Menu Page -->
<ion-view class="background" >
    <!-- header -->
    <ion-header-bar align-title="center" class="bar-assertive ">
        <button class="button button-icon icon ion-navicon"></button>
      <h1 class="title">CrimeWatch</h1>
        <button class="button button-icon icon ion-gear-b"></button>

    </ion-header-bar>
    <ion-content header-shrink>

        <!-- content goes here -->  
        <!-- criminal location page -->
        <img ui-sref="criminalLocation" class="menu-picture-first" src="img/criminal_location.jpg">
        <!-- criminal list page -->
        <img ui-sref="criminalList" class="menu-picture-other" src="img/criminal_list.jpg">
        <!-- snap criminal page -->
        <img  ui-sref="snapOption" class="menu-picture-other" src="img/snap_criminal.jpg">
        <!-- demonstration page -->
        <img class="menu-picture-other" src="img/demonstration.jpg">
    </ion-content>
</ion-view>
